@import '@/styles/utility/variables';

$modal-bg-color: rgba(0, 0, 0, 0.8);
$modal-content-bg: #fff;
$text-color: #333;
 //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

.featuresArea{
  margin-top: 20px;
}
.lessions{
  display: flex;
  align-items: start;
  gap: 20px;
  border-bottom: 1px solid rgba($black, 0.1);
  padding: 15px 15px 5px 5px;
  .icon {
    color: rgba($black, 0.2);
    margin-top: 4px;
    margin-left: 4px;
  }
  .viewIcon{
    color: $primary-color;
    margin-top: 4px;
    margin-left: 4px;
  }
}

.modal{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: $modal-bg-color;

}